

.navigation{
    color:rgb(1, 1, 182)
}



.tableau{
    background-color:rgb(149, 199, 245);
    font-family: Helvetica, Arial;
    text-align:center;
}
    
    
    


footer{
    background-color: Navy;
    color:white;
}