head{
   
     position: relative;
    

}


body{
    background-color:rgb(149, 199, 245);
    font-family: Helvetica, Arial;
    text-align:center;
}
    h1{color:navy}
    
    


.beenut{
    background-color: Navy;
    color:white;
}