body{
    background-image:url(../images/little\ suns.png);
    
}

.brynn{
    color:rgb(102, 38, 38)
    
}   

.armstrong{
    font-family: Helvetica;

}

.bee{
    color:rgb(87, 44, 44);
    font-size: 15pt;
    
}

.nut{
    font-size: 15pt;
}
